/* General Styles */

:root {
    --primary-color: #008080;
    --secondary-color: #00B5AD;
    --background-color: #D3D3D3;
    --text-color: #000000;
    --for-dark-bg: #FFFFFF;
    --for-headers: #2F2F2F;
    --for-moltivation-2: #ADD8E6;
    --for-moltivation: #FF6F61;

}

main {
    max-width: 1250px;
    margin: 10px auto 0;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--background-color);
    background-color: var(--light-color);
    line-height: 1.6;
}


header {
    background-color: var(--for-headers);
    float: center;
    margin-top: 10px;
    color: var(--for-dark-bg);
    text-align: center;
    height: 60px;
    margin-bottom: 20px;
    
}
header h1 {
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
header p {
    padding-top:10px ;
    color: var(--background-color);
    margin-top: 0px;
}

.h-logo{
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 15px;
    float: left;
    margin: 2px 5px 10px 5px;
}

/* for nav bar */

nav {
    background-color: var(--primary-color);
    overflow: hidden;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

nav a {
    float: right;
    display: inline-flex;
    color: var(--background-color);
    text-align: center;
    padding: 17px 13px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--for-headers);
    box-shadow: var(--secondary-color);
    border-radius: 30px 5px 30px 2px;
    transform: translateY(-3px);
    height: 20px;
    padding-top: 10px;
}

/* for the first write up */

.motivational-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    background-color: var(--for-moltivation-2);
    border-radius: 10px;
    height: 400px;
    margin-bottom: 10px;

}

.motivational-1-container {
    float: left; 
    padding:20px ;   
}
.motivational-1 p {
    float: left;
    border-radius: 10px;
    padding: 20px;
    text-indent:30px;
    justify-content: center;
    background-color: var(--for-moltivation-2);
    color: var(--text-color);
    font-style: italic;
    font-display:calc(989);
    font-family: Arial, Helvetica, sans-serif;    
}
.motivational-1 b {
    color: var(--primary-color);
    text-indent: 20px;
    font-size: large;
}
.motivational-1 img{
    float: right;
    height: 300px;
    border-radius: 10px;
}

/* for section intro-write-up */
#intro-write-up {
    display: flex;
    flex-direction: row;
    align-items: normal;
    gap: 20px; 
    flex-basis: calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    border-radius: 10px;
}
#intro-write-up:hover{
    transform: translateY(-10px);
}

.write-up-picture {
    display: flex;
    justify-content: space-between;
    align-items: row;
    border-radius: 10px;
    height: auto;
    width: 100%;
    float: left;
    flex-basis: calc(33.333% - 20px);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    
}

.write-up-words {
    height: 300px;
    width: 700px;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
    background-color: var(--primary-color);
    float: left;
    

}
.write-up-words h2 {
    background-color: var(--background-color);
    text-align: center;
    border-radius: 8px;
    margin: 10px;
}
.write-up-words p {
    background-color: var(--background-color);
    text-indent: 30px;
    height: 70%;
    padding: 30px 30px 0px 20px;
    border-radius: 8px;
    font-style: italic;
}

.write-up-image {
    height: 400px;
    width: 100%;
    max-width: 600px;
    float: left;
    border-radius: 10px;
    
}
/* for rectangular breakage */
.space-1 {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: none;
    padding: 2px 2px 2px 2px;
}
/* for rectangular breakage 2 */
.space-2 {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: none;
    padding: 2px 2px 2px 2px;
}
.space-3 {
    height: 50px;
    width: auto;
    border-radius: 8px;
    background: var(--primary-color);
    border: none;
    border-inline: none;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}

/* for section intro-write-up-2 */

#intro-write-up-2 {
    display: flex;
    flex-direction: row;
    align-items: normal;
    gap: 20px;
    transition: transform 0.3s ease;
    flex-basis: calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
#intro-write-up-2:hover {
    transform: translateY(-5px);
}

.write-up-picture-2 {
    display: flex;
    justify-content: space-between;
    align-items: row;
    height: auto;
    width: 100%;
    border-radius: 8px;
    float: left;
    flex-basis: calc(33.333% - 20px);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
   
}

.write-up-words-2 {
    background-color: var(--primary-color);
    height: 250px;
    width: 700px;
    border-radius:10px ;
    
}
.write-up-words-2 h2 {
    background-color: var(--background-color);
    border-radius: 10px;
    text-align: center;
    color: var(--text-color);
    margin-left: 5px;
    margin-right: 5px;
   
}
.write-up-words-2 p {
    background-color: var(--background-color);
    text-indent: 30px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    color: var(--text-color);
    height: 100%;
    padding: 10px 6px 0px 10px;  

}


.index {
    height: 30px;
    width: 30px;
    float: left;
    border-radius: 10px;
}
.img {
    float: left;
    border-radius: 5px;
    height: 5px;
    width: 5px;
    margin-left: 0px;
}
#intros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.intro {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 40px;
    background: var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;

}
.intro:hover{
    transform: translateY(-5px);
    color: var(--text-color);
}
.intro img {
    max-width: 100%;
    height: auto;
    display: block;
}
.intro-content {
    padding: 20px;
}

.video-section {
    margin: 40px 0;
}
.video-section iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}
.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.login-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
}
.youtube-videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 1px;
}
.youtube-videos tr {
    width: 30%;
}

.youtube-videos iframe {
    width: 30%;
    height: 40%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media (max-width: 786px) {
    .youtube-videos {
        width: 100%;}
}

.call-to-action {

    text-align: center;
    color: var(--text-color);
}
.call-to-action h2 {
    margin-top: 0px;
}
.call-to-action:hover {
    text-decoration: underline;
}
/* for contact home page */
.contact {
    color: var(--text-color);
    margin-bottom: 0px;
    background-color: var(--for-moltivation-2);
    border-radius: 10px;
    margin-left: 4px;
    height: auto;
}
.contact h2 {
    padding-left: 20px;
    margin-top: 10px;
}
.contact p {
    margin-bottom: 10px;
    margin-left: 10px;
}

.about {
    color: var(--text-color);
    margin-bottom: 0px;
    background-color: var(--for-moltivation-2);
    border-radius: 10px;
    margin-left: 4px;
    height: auto;
}
.about h2 {
    padding-left: 20px;
    margin-top: 10px;
}
.about p {
    margin-bottom: 10px;
    margin-left: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer ul {
    margin-left: 70px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    height: 1px;
}

footer ul li {
    margin-left: 30px;
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: var(--for-dark-bg);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer ul li a:hover {
    text-decoration: underline;
}
footer p {
    margin-left: 100px;
}


/*for login page */
.login-section container {
    width: 30%;
    max-width: 50px;
    margin: 100px auto;
    background-image: url(teenzee-logo.webp);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.login-section container h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"], select {
    width: 30%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;

}
button:hover {
    background: #8983e7;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}
.signup-link a {
    color: #062ba7;
    text-decoration: none;
}
